.echartsMap{
    width: 100%;
    .echartsMap-title{
        border-bottom: 1px solid #F2F6F8;
    }
    .echartsMap-content-change{
        padding: 20px;
    }
    .echartsDemo{
        width: 99%;
        height: 300px;
        margin: 10px auto;
    }
}