.PDFplayer{
    width: 100%;
    .videoPlayer-content{
        width: 95%;
        margin: 20px auto;
    }
    .containerPdf{
        width: 100%;
        height: 700px;
        padding-bottom: 30px;
    }
    .videoPlayer-title{
        border-bottom: 1px solid #F2F6F8;
    }
}